<mat-toolbar class="mat-primary mat-toolbar-single-row mat-elevatmat-z8" color="primary">
  <mat-menu #menu="matMenu" class="navbar">
    <button mat-menu-item routerLink="buscar-festivos">Buscar festivos</button>
    <button mat-menu-item routerLink="verificar-festivo">Verificar festivos</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
  </button>
  <div class="title">FESTIVOS EN COLOMBIA</div>
</mat-toolbar>
<router-outlet></router-outlet>